:root {--primaryColor: #26408B;
          --secondaryColor: #81B1D5;
          --accentColor:  #ff4500;
          --borderFormat: 1px solid var(--secondaryColor);
          --defaultImgWidth: 250px;
          --defaultImgHeight: 250px;
   }
   h1 {color:var(--primaryColor);}
   
   #myColors{
          display:flex;
          border: var(--borderFormat);
       }
  #myColors * {width:50%;
         padding:0.5em;
         min-height:3em;
         border: var(--borderFormat);
       }
  .first{
         color: var(--accentColor);
         background-color: var(--primaryColor);
       }
  .second{
         color: var(--accentColor);
         background-color: var(--secondaryColor);
       }
  .third{
         color: var(--primaryColor);
         background-color: var(--accentColor);
       }
       


   a, a:visited {color: var(--accentColor);}
   a:hover, a:active{background-color: var(--secondaryColor);}